@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Lobster+Two&family=Rock+Salt&display=swap')


$p-font: 'Lobster Two'
$s-font: 'Rock Salt'
$alt-font: Capriola


* 
    padding: 0 
    margin: 0



$white: #ffffff
$dark: #1f1e1e
// body 

body 
    height: 100vh
    // background: url('../assets/images/hodgepodge.png')fixed center no-repeat
    background: url('/assets/images/chat-bg.png') fixed center no-repeat
    // background-color: #333
    width: 100%
    background-size: cover
    display: flex
    justify-content: center
    align-items: center


#bot
    // background-color: #9354a3
    display: flex
    justify-content: flex-start
    .bot-response
        background-color: #e33
        padding: 1rem
        border-radius: 50px
        color: #fff
        // border-top-right-radius: 5px
        // border-bottom-right-radius: 1px
#user 
    text-align: center
    display: flex
    justify-content: flex-end
    .user-response
        border-radius: 50px
        color: red
        padding: 1rem
        color: #333
        background-color: #ffd139




.chat-box
    background-color: #fff
    border-radius: 10px
    height: 45rem
    position: relative
    overflow-y: hidden
    width: 45rem
    .nav
        text-align: center
        display: flex
        width: 100%
        padding: 2rem 0
        font-family: $s-font
        justify-content: space-evenly
        align-items: center
        
        background-color: #e0e0e0
        span 
            padding: 1em
            background-color: #fff
            border-radius: 100px
            position: relative
            top: 0
            transition: all 250ms
            &:hover, &:active
                background-color: $dark
                cursor: pointer
                color: $white
                top: 5px
    .messages
        height: 100%
        overflow: scroll
        display: block
        background-color: #1b1b1b
        font-family: $p-font
        // flex-direction: column
        span 
            display: block
        p
            padding: 25px
            font-size: 1.2rem
            // background-color: #5e3
        
            

    .reply
        position: absolute
        bottom: 0
        width: 100%
        padding: 1rem 0 0
        display: flex
        input
            // height: 100%
            background-color: $dark
            font-family: $alt-font
            color: #fff
            padding: 0 15px
            border: 2px solid transparent
            width: 100%
            &:focus
                border-top: 2px solid #44f81b
                // border-bottom: 2px solid blue
        .icon
            // padding: .5rem
            height: 100%
            background-color:#44f81b
            button
                color: $white
                background-color: inherit
                padding: 25px
                border: none
                outline: none
                cursor: pointer
                transition: 150ms
                // opacity: .5
                &:hover, &:active
                    background-color: #e33
                    color: $dark
                    opacity: 1





