@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Lobster+Two&family=Rock+Salt&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: url("https://res.cloudinary.com/dyj6pqx6d/image/upload/v1592680460/chat-bg_q7halt.png") fixed center no-repeat;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bot .bot-response {
  background-color: #e33;
  padding: 1rem;
  border-radius: 50px;
  color: #fff;
}

#user {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#user .user-response {
  border-radius: 50px;
  color: red;
  padding: 1rem;
  color: #333;
  background-color: #ffd139;
}

.chat-box {
  background-color: #fff;
  border-radius: 10px;
  height: 45rem;
  position: relative;
  overflow-y: hidden;
  width: 45rem;
}

.chat-box .nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem 0;
  font-family: "Rock Salt";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e0;
}

.chat-box .nav span {
  padding: 1em;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
  top: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.chat-box .nav span:hover, .chat-box .nav span:active {
  background-color: #1f1e1e;
  cursor: pointer;
  color: #ffffff;
  top: 5px;
}

.chat-box .messages {
  height: 100%;
  overflow: scroll;
  display: block;
  background-color: #1b1b1b;
  font-family: Capriola;
}

.chat-box .messages span {
  display: block;
}

.chat-box .messages p {
  padding: 25px;
  font-size: 1rem;
}

.chat-box .reply {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-box .reply input {
  background-color: #1f1e1e;
  font-family: Capriola;
  color: #fff;
  padding: 0 15px;
  border: 2px solid transparent;
  width: 100%;
}

.chat-box .reply input:focus {
  outline: 0;
  border-top: 2px solid #44f81b;
}

.chat-box .reply .icon {
  height: 100%;
  background-color: #44f81b;
}

.chat-box .reply .icon button {
  color: #ffffff;
  background-color: inherit;
  padding: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.chat-box .reply .icon button:hover, .chat-box .reply .icon button:active {
  background-color: #e33;
  color: #1f1e1e;
  opacity: 1;
}

@media (max-width: 767px) {
  .chat-box {
    width: 90vw;
  }
  .chat-box .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 384px) {
  .chat-box {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
  }
  .chat-box .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */