@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Lobster+Two&family=Rock+Salt&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: url("https://res.cloudinary.com/dyj6pqx6d/image/upload/v1592680460/chat-bg_q7halt.png") fixed center no-repeat;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bot .bot-response {
  background-color: #e33;
  padding: 1rem;
  border-radius: 50px;
  color: #fff;
}

#user {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#user .user-response {
  border-radius: 50px;
  color: red;
  padding: 1rem;
  color: #333;
  background-color: #ffd139;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 250ms, opacity 250ms 0s, -webkit-transform 250ms;
  transition: visibility 0s linear 250ms, opacity 250ms 0s, -webkit-transform 250ms;
  transition: visibility 0s linear 250ms, opacity 250ms 0s, transform 250ms;
  transition: visibility 0s linear 250ms, opacity 250ms 0s, transform 250ms, -webkit-transform 250ms;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  color: #1f1e1e;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal .modal-content p, .modal .modal-content ul {
  font-family: Capriola;
}

.modal .close-button {
  float: right;
  font-size: 2.5rem;
  line-height: 1rem;
  text-align: center;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #1f1e1e;
  color: #ffffff;
  -webkit-transition: 550ms;
  transition: 550ms;
}

.modal .close-button:hover {
  background-color: #ffffff;
  color: #1f1e1e;
}

.modal.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 250ms 0s, -webkit-transform 250ms;
  transition: visibility 0s linear 0s, opacity 250ms 0s, -webkit-transform 250ms;
  transition: visibility 0s linear 0s, opacity 250ms 0s, transform 250ms;
  transition: visibility 0s linear 0s, opacity 250ms 0s, transform 250ms, -webkit-transform 250ms;
}

.info {
  color: #ffffff;
}

.chat-box {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45rem;
  position: relative;
  overflow-y: hidden;
  width: 45rem;
}

.chat-box .nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem 0;
  font-family: "Rock Salt";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e0;
}

.chat-box .nav button {
  padding: 1em;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
  font-weight: 600;
  font-family: "Rock Salt";
  outline: 0;
  border: 0;
  top: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.chat-box .nav button:hover, .chat-box .nav button:active {
  background-color: #1f1e1e;
  cursor: pointer;
  color: #ffffff;
  outline: 0;
  top: 5px;
}

.chat-box .messages {
  height: 100%;
  overflow-y: scroll;
  display: block;
  scrollbar-width: thin;
  scrollbar-color: #FDA900 #1f1e1e;
  background-color: #1b1b1b;
  font-family: Capriola;
}

.chat-box .messages::-webkit-scrollbar {
  width: 8px;
  background-color: #1f1e1e;
}

.chat-box .messages::-webkit-scrollbar-track {
  backgroun: orange;
}

.chat-box .messages::-webkit-scrollbar-thumb {
  background: #FDA900;
  border-radius: 20px;
  border: 3px solid #ffb411;
}

.chat-box .messages span {
  display: block;
}

.chat-box .messages p {
  padding: 25px;
  font-size: 1rem;
}

.chat-box .reply {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-box .reply input {
  background-color: #1f1e1e;
  font-family: Capriola;
  color: #fff;
  padding: 0 15px;
  border: 2px solid transparent;
  width: 100%;
}

.chat-box .reply input:focus {
  outline: 0;
  border-top: 2px solid #44f81b;
}

.chat-box .reply .icon {
  height: 100%;
  background-color: #44f81b;
}

.chat-box .reply .icon button {
  color: #ffffff;
  background-color: inherit;
  padding: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.chat-box .reply .icon button:hover, .chat-box .reply .icon button:active {
  background-color: #e33;
  color: #1f1e1e;
  opacity: 1;
}

@media (max-width: 767px) {
  .chat-box {
    width: 90vw;
  }
  .chat-box .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 470px) {
  .modal .modal-content {
    position: relative;
    width: 80vw;
  }
}

@media (max-width: 384px) {
  .chat-box {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
  }
  .chat-box .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */